// Main container

$color-bg-dark: #1d1d1d;
$container-width: 1260px;

// Text

$font-main: 'Poppins', sans-serif;
$font-size-text-base: 16px;
$font-height-base: 1.4;
$font-weight-text-regular: 400;
$line-height: 100%;
$letter-spacing: -1.5px;
$size-menu: 22px;
$line-hgt-menu: 22px;

// name of product

$font-size-name-base: 24px;
$font-weight-name-regular: 700;

// Tittles

$font-size-tittle-base: 64px;
$font-height-tittle-base: 1;
$font-weight-title-regular: 500;

// Grid variables

$side-padding: 120px;
$columns: 12;
